* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #111;
  color: #fff;
}

.navbar {
  background: #2b1a12;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffcc00;
  font-size: 1.5rem;
  font-weight: bold;
}

nav a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #ffcc00;
}
.cont {
  padding: 50px 40px;
  text-align: center;
}

.cont h2 {
  color: #ffcc00;
  margin-bottom: 20px;
}

.card-div {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 1200px;
  max-width: 100%;
  margin: 20px auto;
}

.card {
  background: #1a1a1a96;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
  flex: 0 0 260px;
  text-align: center;
}

.card h3 {
  color: #ffcc00;
  margin-top: 20px;
  text-align: center;
}

.card p {
  color: #ddd;
}

.img-card img {
  width: 100%;
  height: 180px;
  border: 2px dashed #ffcc00;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background: #000;
  padding: 30px;
  text-align: center;
}

.footer-div p {
  margin: 8px 0;
}

.socials i {
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
}

.socials i:hover {
  color: #ffcc00;
}

.faq {
  font-size: 0.9rem;
  color: #ccc;
}

.card-div button :hover {
  color: red;
}

.card-div button {
  background: #ffcc00;
  border-radius: 20px;
  padding: 12px 25px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 70px;
  display: block;
  margin: 15px auto;
}

footer {
  background: linear-gradient(to bottom, #2b1a12 0%, #000 100%);
  padding: 30px;
  text-align: center;
  font-size: 20px;
}

body {
  background-image: url(img/churras.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
