* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #111;
  color: #fff;
}

.navbar {
  background: #2b1a12;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffcc00;
  font-size: 1.5rem;
  font-weight: bold;
}

nav a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 60px;
}

nav a:hover {
  color: #ffcc00;
}

.slogan-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  background: linear-gradient(to right, #000, #2b1a12);
}

.slogan a{
  text-decoration: none;
  color: 545454;
}

.slogan {
  max-width: 500px;
  margin-left: 20px;
}

.slogan h1 {
  color: #ffcc00;
  font-size: 2.5rem;
}

.slogan p {
  margin: 15px 0;
  color: #ddd;
}

.slogan button {
  background: #ffcc00;
  border-radius: 20px;
  padding: 12px 25px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 70px;
}

.img-div .img {
  width: 500px;
  height: 300px;
  border: 3px solid #ffcc00;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
}

.mv-section {
  padding: 50px 40px;
  text-align: center;
  display: block;
}

.mv-section h2 {
  color: #ffcc00;
  margin-bottom: 20px;
}

.card-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  
}

.card {
  background: #1a1a1a;
  padding: 80px;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  margin: 20px;
  
}

.card h3 {
  color: #ffcc00;
  margin-top: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16PX;
}

.card p {
  color: #ddd;
  margin-top: 20px;
}

.img-card {
  max-width: 300px;
  height: 300px;
  border: 2px dashed #ffcc00;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map {
  margin: 20px auto;
  width: 600px;
  height: 200px;
  border: 3px solid #ffcc0050;
  border-radius: 10px;
  justify-content: space-between;
}

.icon{
  margin: 10px;
  width: 30px;
  height: 30px;


}
.location{
  padding: 50px 40px;
  background: #2b1a12;
  text-align: center;
}

footer {
  background: #000;
  padding: 30px;
  text-align: center;
}

.footer-div p {
  margin: 8px 0;
}

.socials i {
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
}

.socials i:hover {
  color: #ffcc00;
}

.faq {
  font-size: 0.9rem;
  color: #ccc;
}
