* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-image: url(img/churras.jpg);
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  color: #fff;
}

.navbar {
  background: #2b1a12;
  position: relative;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav::after {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(
    to bottom,
    #2b1a12 0%,
    #4a3a22 60%,
    transparent 100%
  );
}

.logo {
  color: #ffcc00;
  font-size: 1.5rem;
  font-weight: bold;
}

nav a {
  margin-left: 20px;
  margin-right: 60px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #ffcc00;
}

.slogan-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 40px 60px;
  background: linear-gradient(to bottom, #4a3a22 0%, #2b1a12 100%, #4a3a22 0%);
}

.slogan {
  max-width: 500px;
  margin-left: 20px;
}

.slogan h1 {
  color: #ffcc00;
  font-size: 2.5rem;
}

.slogan p {
  margin: 15px 0;
  color: #ddd;
}

.slogan button {
  background: #ffcc00;
  border-radius: 20px;
  padding: 12px 25px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 70px;
}
.slogan button :hover{
  color: red;

}

.slogan a {
  text-decoration: none;
  color: #2b1a12;
}

.img-div .img {
  width: 500px;
  height: 300px;
  border: 3px solid #ffcc00;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
}

.mv-section {
  padding: 70px 40px;
  text-align: center;
}

.mv-section h2 {
  color: #ffcc00;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.card-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.card {
  background: #1a1a1a96;
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h3 {
  color: #ffcc00;
  margin-top: 20px;
  font-size: 16px;
}

.card p {
  color: #ddd;
  margin-top: 20px;
}

.img-card {
  width: 100%;
  max-width: 300px;
  height: 300px;
  border: 2px dashed #ffcc00;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map {
  margin: 20px auto;
  width: 600px;
  height: 200px;
  border: 3px solid #ffcc0050;
  border-radius: 10px;
}

.location {
  padding: 70px 40px;
  background: #2b1a12;
  text-align: center;
}

footer {
  background: linear-gradient(to bottom, #2b1a12 0%, #000 100%);
  padding: 30px;
  text-align: center;
  font-size: 20px;
}

.footer-div p {
  margin: 2px 0;
}

.socials a {
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
}

.socials i:hover {
  color: #ffcc00;
}

.faq {
  font-size: 0.9rem;
  color: #ccc;
}

